 /* Global */ 

::-moz-selection {
    color: #0d410a;
    background: #deffc2;
}
::selection {
    color:#0d410a;
    background: #deffc2
}
body {
    background-image: url("/calculadora-imc/assets/img/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #0d410a;
}

/* Botões: */ 

.btn-feminino, .btn-masculino {
    background-color: #deffc2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    height: 130px;
    width: 130px;
}
.btn-feminino:hover, .btn-masculino:hover {
    border: 3px solid #74B324;
}
.btn-calcular, .btn-alert, .btn-result {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #deffc2;
    background-color: #74B324;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 5px 20px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
}
.btn-calcular:hover, .btn-alert:hover, .btn-result:hover {
    color: #deffc2;
    background-color: #0d410a;
}

 /* Header */ 

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px auto;
    gap: 10px;
}
.header-container h1 {
    font-size: 40px;
    font-weight: 800;
    color: #74B324;
}
.hero-container h2 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

/* Main */

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.genero {
    text-align: center;
}
.informacoes {
    text-align: center;
}
.informacoes input {
    color: #0d410a;
    border: 1px solid #74B324;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}
.informacoes input:hover {
    border: 2px solid #74B324;
}
.informacoes input:focus {
    outline: #74B324
}

 /* Página de alerta para idade < 19 */ 

.alert-idade {
    margin-top: 20px;
    border: 4px solid #74B324;
    border-radius: 40px;
    padding: 40px;
}
.alert-idade h2 {
    font-size: 30px;
    margin-top: 0px;
}
.alert-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}
 .alert-msg p {
    text-align: center;
    font-size: 16px;
 }

/* Página para idade adulta */

.resultado-adulto {
    display: flex;
    gap: 100px;
}
.resultados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imc, .classificacao {
    color: #0d410a;
    border: 3px solid #74B324;
    border-radius: 20px;
    width: 300px;
    height: 50px;
}
.hidden {
    display: none;
}

/* Footer */

.footer-container {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}
.rodape {
    display: flex;
    flex-direction: column;
}
.rodape p {
    font-size: 12px;
    display: flex;
    justify-content: center;
}
.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
