body {
    background-image: url("/calculadora-imc/assets/img/papel-de-parede.jpg");
    background-size: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #004464;
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px auto;
    gap: 10px;
}
.header-container h1 {
    font-size: 40px;
    font-weight: 800;
    color: #2ECC71;
}
.hero-container h2 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.btn-genero {
    background-color: #ddfada;
    border: none;
    border-radius: 10px;
}
.btn-genero:hover {
    border: 3px solid #2ECC71;
}
.btn-calcular {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fffafa;
    background-color: #2ECC71;
    border: none;
    border-radius: 30px;
    padding: 5px 20px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
}
.btn-calcular:hover {
    color: #2ECC71;
    background-color: #ddfada;
    border: 3px solid #2ECC71;
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.genero {
    text-align: center;
}
.informacoes {
    text-align: center;
}
.informacoes input {
    color: #2ECC71;
    border: 1px solid #2ECC71;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}
.informacoes input:hover {
    border: 2px solid #2ECC71;
}
.informacoes input:focus {
    outline: #2ECC71
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
